{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry Page - 
{% endblock %}

{% block body %}

    <!-- For displaying the error message. -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action = "{% url 'newpage' %}" method = "post">
        {% csrf_token %}
        <h1>
            Create a new entry:
        </h1>
        {{ newform.title }}<br><br>
        {{ newform.content }}<br>
        <input type = "submit" value = "Save">
    </form>
{% endblock %}